[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/histwin.vim"]
	path = bundle/histwin.vim
	url = https://github.com/chrisbra/histwin.vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/Mark--Karkat"]
	path = bundle/Mark--Karkat
	url = https://github.com/vim-scripts/Mark--Karkat.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Recover.vim"]
	path = bundle/Recover.vim
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/winmanager--Fox"]
	path = bundle/winmanager--Fox
	url = https://github.com/vim-scripts/winmanager--Fox.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/calendar.vim--Matsumoto"]
	path = bundle/calendar.vim--Matsumoto
	url = https://github.com/vim-scripts/calendar.vim--Matsumoto.git
[submodule "bundle/echofunc"]
	path = bundle/echofunc
	url = https://github.com/mbbill/echofunc.git
[submodule "bundle/fso"]
	path = bundle/fso
	url = https://github.com/vim-scripts/fso.git
[submodule "bundle/hexman.vim"]
	path = bundle/hexman.vim
	url = https://github.com/vim-scripts/hexman.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/sessionman.vim"]
	path = bundle/sessionman.vim
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vimshell.vim"]
	path = bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "bundle/neomru.vim"]
	path = bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/neverland-vim-theme"]
	path = bundle/neverland-vim-theme
	url = https://github.com/trapd00r/neverland-vim-theme.git
[submodule "bundle/vimcdoc"]
	path = bundle/vimcdoc
	url = https://github.com/asins/vimcdoc.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-glsl"]
	path = bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "bundle/tlib_vim.git"]
	path = bundle/tlib_vim.git
	url = https://github.com/tomtom/tlib_vim.git
